:root{
  --black: #000;

  --dark-brown: #554541;
  --brown: #764b36;

  --gray: #737373;

  --orange: #d1774c;

  --sand: #eceada;
  --cloth: #efe7dd;

  --white: #FFFFFF;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

a{
  text-decoration: none;
  color: var(--gray);
}